/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  height: 100px;
  width: 100%;
}

header > nav {
  background-color: #333;
  color: #fff;
  font: "Lucida";
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

header > nav > h2 {
  margin: auto;
}

.session-link {
  padding: 5px;
}




/* #navbar-links {
 background-color: grey;
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: baseline;
 flex-wrap: nowrap;
} */

 /* #navbar-links > li {
   display: inline-block;
   text-align: center;
   width: fit-content;
   /* padding: 10px;
   /* margin: 10px; */
 /* }

 #navbar-links > li > h2 {
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .session-link {
   align-self: flex-end;
 } */ */ */
