/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0px;
}

header {
  height: 46px;
  width: 100%;
  background-color: #313131;
  color: #fff;
}

header > nav {
  margin: auto;
  width: 1250px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

header > nav > h2 {
  margin: auto;
}

img {
  height: 100%;
  width: 75px;
}

#logo {
  background-image: url('logo.png');
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 112px;
}

#charts-link {
  width: 100px;
  line-height: 46px;
  text-align: center;
  border-right: 1px solid black;
}

nav a {
  text-decoration: none;
  color: #ccc6c6;
  font-size: 15px;
}

nav a:hover {
  color: white;
}

.session-link {
  padding: 5px;
}
