/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 46px;
  width: 100%;
  background-color: #313131;
  color: #fff;
}

header > nav {
  margin: auto;
  width: 1150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

header > nav > h2 {
  margin: auto;
}

img {
  height: 100%;
  width: 75px;
}

#logo {
  background-image: url('logo.png');
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 112px;
}

#charts-link {
  width: 100px;
  line-height: 46px;
  text-align: center;
  border-right: 1px solid black;
  text-decoration: none;
  color: #ccc6c6;
  font-size: 14px;
}

#charts-link:hover {
  color: white;
}

.session-links {
  display: flex;
}

#signup-link {
  width: 125px;
  background-color: #f2662d;
  border: 1px solid #f2662d;
}

#signin-link {
  width: 65px;
  background-color: #313131;
  border: 1px solid white;
}

#signin-link:hover {
  border: 1px solid #666;
}

.session-links button {
  font-size: 14px;
  margin: 15px;
  padding: 4px;
  position: relative;
  right: 10px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.session-links button:hover {
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.9);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: white;
  border-radius: 2px;
  text-align: center;
}

#session-form > input {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  font-size: 15px;
  margin: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f50;
  width: 80%;
}

#session-form > button {
  background-color: #f50;
  color: white;
  width: 80%;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
}

#otherForm {
  font-size: 13px;
  margin: 10px;
}

#switch-form {
  color: blue;
}

#switch-form:hover {
  cursor: pointer;
}
