.player-bar {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
}

.player-bar-contents {
  height: 100%;
  width: 1400px;
  display: flex;
  align-items: center;
  margin: auto;
}

.player-buttons {
  display: flex;
  align-items: center;
  margin-left: 95px;
}

.play-btn-simple {
  height: 30px;
  width: 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTggNXYxNGwxMS03eiIvPjwvc3ZnPgo=);
  background-size: contain;
}

.pause-btn-simple {
  height: 30px;
  width: 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTYgMTloNFY1SDZ2MTR6bTgtMTR2MTRoNFY1aC00eiIvPjwvc3ZnPgo=);
  background-size: contain;
}

.loop-btn {
  height: 30px;
  width: 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=);
  background-size: contain;
  position: relative;
  margin-left: 18px;
}

.loop-selected_div {
  position: absolute;
  margin-left: 13px;
  width: 7px;
  height: 7px;
  left: 6px;
  top: 6px;
  background-color: #f50;
  border-radius: 50%;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  margin-left: 57px;
  height: 30px;
}

.player-bar-progress-time, .player-bar-duration-time {
  font-size: 11px;
}

.player-bar-progress-time {
  color: #f50;
  margin-right: 5px;
}

.player-bar-duration-time {
  color: #333;
  margin-left: 5px;
}

.progress-bar {
  width: 640px;
  height: 1px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #7d7878;
}

.progress-bar-elapsed {
  height: 1px;
  // position: absolute;
  max-width: 640px;
  background-color: #f50;
  z-index: 1;
  display: flex;
  align-items: center;
}

.progress-dot {
  width: 7px;
  height: 7px;
  background-color: #f50;
  border-radius: 50%;
  position: absolute;
  right: -3px;
}

.seek-input {
  position: absolute;
  -webkit-appearance: none;
  outline: none;
  background: #FFFFFF;
  // background: rgba(0, 0, 0, 0);
  border: none;
  height: 1px;
  width: 640px;
  z-index: 0;
}

.seek-input:focus {
  outline: none;
}

.seek-input::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 10px;
  width: 10px;
  border-radius: 27px;
  background: #FF5500;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}

.player-volume-muted, .player-volume-active {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
  position: relative;
}

.player-volume-active {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4K);
}

.player-volume-muted {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTE4IDEwLjU4NGwtMi4yOTMtMi4yOTEtMS40MTQgMS40MTQgMi4yOTMgMi4yOTEtMi4yOTEgMi4yOTEgMS40MTQgMS40MTUgMi4yOTItMi4yOTIgMi4yOTQgMi4yOTIgMS40MTQtMS40MTUtMi4yOTMtMi4yOTEgMi4yOTEtMi4yOS0xLjQxNC0xLjQxNS0yLjI5MiAyLjI5MXpNNCA5aDQuMDAyTDEyIDV2MTRjLTIuNDQ2LTIuNjY3LTMuNzc4LTQtMy45OTgtNEg0Vjl6Ii8+PC9zdmc+Cg==);
}

.player-track-details {
  display: flex;
  align-items: center;
  position: relative;
}

.player-track-cover-art {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.player-track-cover-art > img {
  height: 100%;
  width: 100%;
}

.player-track-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  position: relative;
  bottom: 7px;
}

.player-track-text-details > a {
  color: #7d7878;
  text-decoration: none;
}

.player-track-text-details > a:hover {
  color: black;
}

.player-track-artist-name {
  font-size: 10px;
}

.player-track-title {
  font-size: 11px;
}

.like-btn-player {
  size: 25px;
}

.like-btn-player:hover {
  cursor: pointer;
}

.player-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-left: 30px;
}



// .like-btn-player {
//   // background-image: image_url('if_favourite_291826.png');
//   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiMyMjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
//
//   height: 20px;
//   width: 20px;
//   fill: black;
// }
//
// .like-btn-player-selected {
//   // background-image: image_url('if_favourite_291826.png');
//   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiMyMjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
//   background-color: #f50;
//
//   height: 20px;
//   width: 20px;
//
// }

// .player-volume-control {
//   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4K);
//   height: 30px;
//   width: 30px;
//   background-size: contain;
//   background-repeat: no-repeat;
//   margin-left: 30px;
//   position: relative;
// }

// .volume-control-bar {
//   position: absolute;
//   z-index: 1;
//   height: 100px;
//   width: 50px;
//   bottom: 30px;
//   right: -12px;
//   background-color: #f2f2f2;
//   border: 1px solid #cecece;
// }

// .volume-input {
//   -webkit-appearance: none;
//   outline: none;
//   background: #f2f2f2
//   border: none;
//   height: 100px;
//   width: 1px;
//   z-index: 0;
// }
//
// .volume-input::-webkit-slider-thumb {
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #2497E3;
//   height: 10px;
//   width: 10px;
//   border-radius: 27px;
//   background: #FF5500;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: -2.5px;
// }
//
// .volume-input {
//   height: 80px;
//   -webkit-appearance: none;
//   // -webkit-appearance: slider-vertical;
//   margin: 10px 0;
//   width: 1px;
//   transform-origin: 75px 75px;
//   transform: rotate(-90deg);
// }
// .volume-input:focus {
//   outline: none;
// }
// .volume-input::-webkit-slider-runnable-track {
//   width: 1px;
//   height: 80px;
//   -webkit-appearance: slider-vertical;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 1px 1px 1px #000000;
//   background: #333;
//   border-radius: 1px;
//   border: 0px solid #010101;
// }
// .volume-input::-webkit-slider-thumb {
//   box-shadow: 1px 1px 1px #000031;
//   border: 1px solid #00001E;
//   height: 10px;
//   width: 10px;
//   border-radius: 15px;
//   background: #F50;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: 4.5px;
// }
// .volume-input:focus::-webkit-slider-runnable-track {
//   background: #333;
// }
