.show-image {
  width: 100%;
  height: 361px;
  font-family: 'Raleway';
  // background-image: linear-gradient(to right bottom, #333333, #5c3e5e, #9f3b6b, #de3351, #ff5500);
  // background-image: linear-gradient(135deg, rgba(235,168,0,1) 0%, rgba(214,83,83,0.95) 23%, rgba(242,87,27,0.9) 42%, rgba(255,89,0,0.91) 51%, rgba(253,86,4,0.91) 53%, rgba(235,55,35,0.89) 71%, rgba(212,56,38,0.83) 84%, rgba(241,111,92,0.83) 97%);
  // background-image: linear-gradient(to right, rgba(235,168,0,1) 0%, rgba(235,168,0,0.97) 12%, rgba(226,131,37,0.95) 23%, rgba(214,83,83,0.91) 37%, rgba(226,84,58,0.9) 42%, rgba(248,86,14,0.91) 51%, rgba(253,86,4,0.91) 53%, rgba(242,87,27,0.9) 64%, rgba(235,55,35,0.89) 71%, rgba(212,56,38,0.78) 84%, rgba(241,111,92,0.78) 97%);
  // background-image: linear-gradient(135deg, rgba(96,144,189,1) 0%, rgba(96,144,189,0.94) 13%, rgba(50,59,227,0.83) 38%, rgba(39,5,235,0.72) 62%, rgba(29,93,156,0.63) 82%, rgba(32,124,229,0.55) 99%, rgba(32,124,229,0.55) 100%);
  // background-image: linear-gradient(45deg, rgba(33,124,173,1) 0%, rgba(33,124,173,0.94) 13%, rgba(0,16,245,0.81) 42%, rgba(39,5,235,0.67) 74%, rgba(29,93,156,0.59) 91%, rgba(32,124,229,0.55) 99%, rgba(32,124,229,0.55) 100%);
  // background-image: linear-gradient(135deg, rgb(149, 130, 116) 0%, rgb(78, 90, 106) 100%);
  // background-image: linear-gradient(135deg, rgb(215, 204, 193) 0%, rgb(125, 139, 153) 100%);
  // background-image: linear-gradient(135deg,#8e8485,#e6846e);
  // background-image: linear-gradient(135deg, rgb(162, 126, 90) 0%, rgb(113, 99, 91) 100%);
  background-image: linear-gradient(135deg,#e6846e,#70929c);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
  margin-bottom: 20px;
}

.cover-art-large {
  width: 330px;
  height: 330px;
  margin-right: 20px;
  margin-left: 30px;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.cover-art-large > img {
  width: 100%;
  height: 100%;
}

.track-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 75px;
}

#track-show-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

#track-show-title > * {
  background-color: rgba(0,0,0,.8);
  padding: 5px;
  margin: 5px 0;
}


#track-artist {
  font-size: 18;
  color: #ccc6c6;
  margin-bottom: 10px;
}

#track-artist {
  text-decoration: none;
}

#track-name {
  font-size: 25px;
}

.play-btn-large {
  height: 75px;
  width: 75px;
  background-color: #f50;
  border-radius: 50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjg8L3RpdGxlPjxwYXRoIGQ9Ik0wIDE0bDEuODQ2LTdMMCAwbDggNy04IDd6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 27px;
  background-position-y: center;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.play-btn-large:hover, .pause-btn-large:hover {
  cursor: pointer;
  background-color: #ff0200;
}

.pause-btn-large, .pause-btn-large {
  height: 75px;
  width: 75px;
  background-color: #f50;
  border-radius: 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.play-btn-large {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjg8L3RpdGxlPjxwYXRoIGQ9Ik0wIDE0bDEuODQ2LTdMMCAwbDggNy04IDd6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-position-x: 27px;
}

.pause-btn-large {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBhdXNlIDI4PC90aXRsZT48cGF0aCBkPSJNNSAwdjEyaDNWMEg1ek0wIDB2MTJoM1YwSDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-position-x: center;
}

.cover-art-container-large {
  display: flex;
}

.track-time-elapsed {
  text-align: right;
}

.track-comments-container {
  display: flex;
  margin-top: 20px;
}

.track-description {
  font-size: 13px;
}

.user-avatar-medium {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.track-artist-details {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  // margin-left: 33px;
  align-items: flex-start;
  font-size: 13px;
}

.user-avatar-medium {
  height: 100px;
  width: 100px;
}

.user-avatar-medium > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-avatar-medium-default {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: linear-gradient(135deg,#846170,#70929c);
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.comment-form-bar-large {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 1px solid #e5e5e5;
  height: 40px;
  width: 100%;
}

.user-avatar-comment-large {
  height: 40px;
  width: 40px;
}


.user-avatar-comment-large > img {
  height: 100%;
  width: 100%;
}

.track-show-contents {
  margin-left: 2%;
  width: 70%;
}

.comment-submission-form-large {
  margin-left: 10px;
  width: 92%;
}

.track-show-actions {
  width: 100%;
}

.comment-text-area {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  font-family: 'Open Sans';
  padding: 5px;
  font-size: 14px;
}
