.track-index-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  // position: relative;
  // top: 100px;
  width: 100%;

}

.sort-container-header {
  margin-top: 30px;
  margin-bottom: 45px;
  color: #999;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.track-sort-container {
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.track-sort-container-left {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.track-index-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.track-index-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.waveform-index {
  width: 600px;
  opacity: 0.75;
  margin-bottom: 5px;
  position: relative;
}

.waveform-index > * > * {
  border-right: none !important;
}

.track-loader {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #e4acac;
  position: absolute;
  top: 50%;
}

.track-loader-inner {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #ff5402;
}

.waveform-index *:hover {
  cursor: pointer;
}

.cover-art-medium {
  height: 160px;
  width: 160px;
  margin-right: 20px;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.cover-art-medium > img {
  height: 100%;
  width: 100%
}

.track-index-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.track-index-item-top-left {
  display: flex;
}

.track-index-item-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.track-index-item-links > a {
  text-decoration: none;
}

.track-index-item-artist-link {
  color: #999;
  font-size: 12px;
}

.track-index-item-track-link {
  font-size: 15px;
  color: black;
}

.track-index-item-timestamp {
  color: #ccc;
  font-size: 12px;
  font-weight: 100;
}

.play-btn-medium, .pause-btn-medium {
  height: 50px;
  width: 50px;
  background-color: #f50;
  border-radius: 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
  margin-right: 10px;
}

.play-btn-large:hover, .pause-btn-large:hover,
.play-btn-medium:hover, .pause-btn-medium:hover {
  cursor: pointer;
  background-color: #ff0200;
}

.play-btn-medium {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjg8L3RpdGxlPjxwYXRoIGQ9Ik0wIDE0bDEuODQ2LTdMMCAwbDggNy04IDd6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-position-x: center;
}

.pause-btn-medium {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBhdXNlIDI4PC90aXRsZT48cGF0aCBkPSJNNSAwdjEyaDNWMEg1ek0wIDB2MTJoM1YwSDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-position-x: center;
}

.track-index-item-links > a:hover {
  background-color: #ff4141b8;
  color: white;
}

.track-index-item-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.track-index-item-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.like-btn-index {
  size: 15px;
}

.like-button-index-wrapper {
  border: 1px solid black;
  padding-left: 7px;
  border-radius: 4px;
  padding-right: 7px;
}

.like-button-index-wrapper:hover {
  cursor: pointer;
}

.track-index-activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  font-size: 13px;
}

.track-index-likes {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.track-index-plays {
  display: flex;
  align-items: center
}

.like-icon-medium-index {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  height: 15px;
  width: 15px;
  background-size: contain;
  margin-right: 2px;
}

.play-icon-medium-index {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfcGxheSA0PC90aXRsZT48cGF0aCBkPSJNNCAxM1YzbDkgNS05IDV6IiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  height: 15px;
  width: 15px;
  background-size: contain;
  margin-right: 2px;
}

.queue-action-index-button {
    font-size: 12px;
    margin-left: 10px;
    padding: 3px 4px 3px 4px;
    border: 1px solid #333;
    border-radius: 4px;
}

.queue-action-index-button:hover {
  cursor: pointer;
}

//
// .track-num-header {
//   position: relative;
//   left: 11px;
// }
//
// .track-index-item {
//   min-height: 110px;
//   margin-bottom: 10px;
//   padding-left: 5px;
//   padding-right: 5px;
//   border-radius: 3px;
// }
//
// .track-index-item:hover {
//   cursor: pointer;
// }
//
// .track-info-cols {
//   display: flex;
//   align-items: center;
// }
//
// .track-index-item-rank {
//   font-weight: bold;
//   min-width: 20px;
//   text-align: center;
// }
//
// .track-index-item-details {
//   display: flex;
//   align-items: center;
// }
//
// .track-index-item-info {
//   display: flex;
//   align-items: top;
// }
//

//
// .track-index-item-text-details {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   margin-left: 31px;
//   font-size: 12px;
//   position: relative;
//   top: 5px;
// }
//
// .track-index-item-text-details > a {
//   text-decoration: none;
//   padding: 1px 2px 1px 2px;
//   border-radius: 2px;
// }
//
// .track-index-item-text-details > a:hover {
//   background-color: #ff4141b8;
//   color: white;
// }
//
// .track-index-item-artist-link {
//   color: #928787;
//   margin-bottom: 5px;
// }
//
// .track-index-item-track-link {
//   color: black;
// }
//
// .track-info-header {
//   margin-left: 172px;
// }
//
// .track-index-item-text-details > *:hover {
//   color: white;
// }
//
// .cover-art-small > img {
//   height: 100%;
//   width: 100%;
// }
//

//
// .track-index-item-data {
//   font-size: 14px;
//   color: #928787;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   height: 50px;
// }
//
// .track-index-activity {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   margin-top: 5px;
// }
//

// .like-btn-medium-index {
//   background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
//   background-color: #f50;
// }
